</main>
<footer class="footer">
  <ion-icon name="heart"></ion-icon>
  <span><a href="https://successeverytime.com/SE/about-us/" rel="noopener" target="_blank">About Us</a>️</span>
  <span>&middot;</span>
  <ion-icon name="hand"></ion-icon>
  <span><a href="https://successeverytime.com/SE/privacy-policy/" rel="noopener" target="_blank">Privacy Policy</a>️</span>
  <span>&middot;</span>
  <span>&copy; {{ now.Year }} {{ .Site.Title }}</span>
  <br>
  <a href="https://www.mb01.com/lnk.asp?o=10547&c=135617&a=383461&k=712E483AB751C6CB0668AD2AA296B118&l=10409&s1=SE">
  <IMG SRC="https://www.mb01.com/getimage.asp?a=383461&m=2832&o=10547&i=135617.dat" width=320 height=50 border=0>
  </a> 
</footer>
<script src="{{.Site.BaseURL}}js/instantclick.min.js" data-no-instant></script>
<script data-no-instant>InstantClick.init();</script>
<script src="{{.Site.BaseURL}}js/highlight.min.js" data-no-instant></script>
<script data-no-instant>
  hljs.initHighlightingOnLoad();
  setMenuListener();

  InstantClick.on('change', function() {
    document.querySelectorAll('pre code').forEach((block) => {
      hljs.highlightBlock(block);
    });
    setMenuListener();
  });

  function setMenuListener() {
    var menuToggle = document.querySelector('.menu-toggle');
    var body = document.querySelector('body');
    menuToggle.addEventListener('click', function() {
      body.classList.toggle('no-scroll');
    }, false);
  }
</script>
</body>
</html>
